In [1]:
import yfinance as yf

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
from stock_list import stocklist

In [3]:
stocklist.keys()

dict_keys(['sharpe_stocks', 'drawdown_stocks', 'esg_stocks2', 'esg_stock_ndsv', 'pe_stocks', 'test'])

In [4]:
selected_stocks = stocklist['drawdown_stocks']
start_date = '2020-01-01' #training start date
end_date = '2021-01-01' #training end date

# Data Preparation

In [5]:
def get_data(stock, start_date, end_date):
    data = yf.download(stock + '.NS', start=start_date, end=end_date)
    return data

In [6]:
df = pd.DataFrame()
for stock in selected_stocks:
    data = get_data(stock, start_date, end_date)
    df[stock] = data['Close']

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

,ALKYLAMINE,TATAINVEST,JSWHL,CONCOR,ICICIBANK,ASIANPAINT,ITC,INFY,TATACHEM,BAJAJFINSV,...,NAUKRI,AIAENG,POWERGRID,HCLTECH,SKFINDIA,PGHH,COLPAL,SANOFI,HINDUNILVR,HDFCBANK
Date,,,,,,,,,,,,,,,,,,,,,
2020-01-01,440.160004,805.150024,2179.850098,573.000000,536.750000,1793.199951,238.100006,736.849976,295.996399,937.844971,...,2565.600098,1622.599976,109.968781,571.950012,2195.850098,11408.599609,1461.099976,7014.399902,1936.550049,1278.599976
2020-01-02,465.679993,807.549988,2196.300049,572.000000,540.599976,1790.650024,239.850006,734.700012,296.635681,950.559998,...,2535.199951,1621.099976,109.743774,573.549988,2216.100098,11317.049805,1459.900024,6989.600098,1938.050049,1286.750000
2020-01-03,465.239990,810.299988,2202.550049,569.700012,538.849976,1751.400024,238.500000,746.000000,295.423218,934.585022,...,2567.449951,1648.599976,108.562531,585.049988,2196.149902,11322.799805,1460.000000,6899.549805,1927.449951,1268.400024
2020-01-06,456.899994,798.849976,2145.899902,562.200012,525.700012,1707.150024,235.100006,738.849976,290.881989,904.270020,...,2519.850098,1628.449951,108.618774,582.000000,2152.199951,11217.000000,1435.449951,6771.899902,1915.449951,1240.949951
2020-01-07,496.660004,800.549988,2150.000000,556.349976,522.900024,1724.400024,235.350006,727.900024,293.769867,909.565002,...,2539.600098,1649.300049,107.831276,584.250000,2130.649902,11099.299805,1450.349976,6807.799805,1920.699951,1260.599976

In [7]:
esg_data = pd.read_json('esg_data.json')

In [8]:
esg_data.head()

,esg,esg_industry,industry,name,ticker
0,[],[],Mining (except Oil & Gas),20-Microns-Ltd,20MICRONS
1,"[[1622505600000, 14.44], [1625097600000, 14.46...","[[1622505600000, 13.83], [1625097600000, 12.9]...",Containers & Packaging Manufacturing,3M-INDIA-LIMITED,3MINDIA
2,"[[1633046400000, 36.21], [1635724800000, 35.68...","[[1633046400000, 19.94], [1635724800000, 20.25...",Brokerage & Capital Markets,5paisa-Capital-Limited,5PAISA
3,[],[],Brokerage & Capital Markets,A-K-CAPITAL-SERVICES-LIMITED,530499
4,[],[],"Architectural, Engineering, & Related Services",A2Z-MAINTENANCE-and-ENGINEERING-SERVICES-LIMITED,A2ZINFRA

In [9]:
esg_data = esg_data[esg_data['ticker'].isin(selected_stocks)]
esg_data = esg_data.set_index('ticker')
esg_data.head()
# drop the row with name Nabha-Power-Limited
esg_data = esg_data[esg_data['name'] != 'Nabha-Power-Limited']

In [10]:
ESG_score_df = pd.DataFrame()
for ticker in selected_stocks:
    sum = 0
    n = 0
    for el in esg_data.loc[ticker]['esg']:
      n = n + 1
      sum = sum + el[1]

    ESG_score_df[ticker] = [sum/n]

ESG_score_df = ESG_score_df.Esg_score
ESG_score_df.columns = ['ESG_score']

ALKYLAMINE
TATAINVEST
JSWHL
CONCOR
ICICIBANK
ASIANPAINT
ITC
INFY
TATACHEM
BAJAJFINSV
RATNAMANI
SOLARINDS
PGHL
BAJAJ-AUTO
NTPC
HONAUT
PETRONET
DABUR
KOTAKBANK
AKZOINDIA
AARTIIND
PIDILITIND
TCS
MARICO
ATUL
RELIANCE
BAJAJHLDNG
CUB
GRINDWELL
LT
NAUKRI
AIAENG
POWERGRID
HCLTECH
SKFINDIA
PGHH
COLPAL
SANOFI
HINDUNILVR
HDFCBANK

            ESG_score
ALKYLAMINE  26.132917
TATAINVEST  55.452941
JSWHL       46.280000
CONCOR      38.377600
ICICIBANK   59.359200

In [11]:
esg_data[esg_data.index == 'LT']

,esg,esg_industry,industry,name
ticker,,,,
LT,"[[1619827200000, 89.93], [1622505600000, 93.2]...","[[1619827200000, 81.17], [1622505600000, 82.59...","Heavy & Civil Engineering Construction, Electr...",Larsen-and-Toubro

# Helper Functions

In [20]:
import numpy as np
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D

def is_positive_definite(Sigma):
    return np.all(np.linalg.eigvals(Sigma) > 0)

def calculate_portfolio_weights(Sigma, mu, Esg_score, u, l):
    one=np.ones(len(mu))
    # check if mu, Esg_score, one are linearly independent
    if np.linalg.matrix_rank(np.array([mu, Esg_score, one])) < 3:
        print("mu, Esg_score, one are not linearly independent")
        return
    if is_positive_definite(Sigma):
        Sigma_inv = np.linalg.inv(Sigma)
        a = np.transpose(mu) @ Sigma_inv @ mu
        b =  np.transpose(mu)@ Sigma_inv @ Esg_score
        c = np.transpose(mu) @ Sigma_inv @ one
        d = np.transpose(Esg_score) @ Sigma_inv @ Esg_score
        e = np.transpose(Esg_score) @ Sigma_inv @ one
        f = np.transpose(one) @ Sigma_inv @ one
        C = np.array([[a, b, c], [b, d, e], [c, e, f]])

        detC=np.linalg.det(C)

        C_inv = np.linalg.inv(C)

        aa=Sigma_inv @ mu
        bb=Sigma_inv @ Esg_score
        cc=Sigma_inv @ one 

        x0 = (1/detC)*((b*e-c*d)*aa+(b*c-a*e)*bb+(a*d-b*b)*cc)
        d2 = (1/detC)*((d*f-e*e)*aa+(c*e-b*f)*bb+(b*e-c*d)*cc)
        d3=(1/detC)*((c*e-b*f)*aa+(a*f-c*c)*bb+(b*c-a*e)*cc)


        # print(x0)
        # print(d2)
        # print(d3)

        x = x0 + u * d2 + l * d3

        # Output x
        # print(x)
        print("Sum of weights: ", np.sum(x))
        return x
    else:
        print("Matrix is not positive definite:\n")



def plot_3d_returns_variance_esg(portfolio_returns, portfolio_variances, portfolio_esgs):
    fig = plt.figure()
    ax = fig.add_subplot(111, projection='3d')
    ax.scatter(portfolio_returns, portfolio_esgs, portfolio_variances, c='r', marker='o')
    ax.set_xlabel('Returns (in %)')
    ax.set_ylabel('Esg Score')
    ax.set_zlabel('Variance (in %)')
    fig.savefig('3d_plot.png')
    plt.show()


def generate_plot(Sigma, mu, ESG_scores, u_values, l_values):
    portfolio_returns = []
    portfolio_variances = []
    portfolio_esgs = []
    for u in u_values:
        for l in l_values:
            weights = calculate_portfolio_weights(Sigma, mu, ESG_scores, u, l)
            portfolio_return = np.dot(weights.T, mu)
            portfolio_variance = np.dot(weights.T, np.dot(Sigma, weights))
            portfolio_esg = np.dot(weights.T, ESG_scores)
            portfolio_returns.append(portfolio_return*100)
            portfolio_variances.append(portfolio_variance)
            portfolio_esgs.append(portfolio_esg)
    
    plot_3d_returns_variance_esg(portfolio_returns, portfolio_variances, portfolio_esgs)

In [50]:
# def get_returns_given_w(weights, returns_df):
#     aligned_weights = [weights[stock] for stock in returns_df.columns]
#     mu = returns_df.pct_change().apply(lambda x: np.log(1+x)).mean()
#     cov_matrix = returns_df.pct_change().apply(lambda x: np.log(1+x)).cov()
#     portfolio_return = 252*(mu @ aligned_weights)
#     portfolio_stddev = np.sqrt(np.array(aligned_weights).T @ cov_matrix @ np.array(aligned_weights)*252)
#     return portfolio_return, portfolio_stddev

In [15]:
df.index

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-06',
               '2020-01-07', '2020-01-08', '2020-01-09', '2020-01-10',
               '2020-01-13', '2020-01-14',
               ...
               '2020-12-17', '2020-12-18', '2020-12-21', '2020-12-22',
               '2020-12-23', '2020-12-24', '2020-12-28', '2020-12-29',
               '2020-12-30', '2020-12-31'],
              dtype='datetime64[ns]', name='Date', length=251, freq=None)

# Analysis

In [17]:
from datetime import datetime
starting_train = datetime.strptime(start_date, '%Y-%m-%d')
ending_test = datetime.strptime(end_date, '%Y-%m-%d')
ending_train = starting_train + (ending_test - starting_train) / 2
starting_test = ending_train
print(starting_train, ending_train, starting_test, ending_test)

2020-01-01 00:00:00 2020-07-02 00:00:00 2020-07-02 00:00:00 2021-01-01 00:00:00

In [18]:
train_df = df.loc[starting_train:ending_train]
test_df = df.loc[starting_test:ending_test]

In [65]:
mu = train_df.pct_change().apply(lambda x: np.log(1+x)).mean()
Sigma = train_df.pct_change().apply(lambda x: np.log(1+x)).cov()
Esg_score = ESG_score_df['ESG_score']
weights = calculate_portfolio_weights(Sigma, mu, Esg_score, 0.4, 60)
# make weights into a array with index
weights = pd.Series(weights, index=train_df.columns)

Sum of weights:  0.9999999999999716

In [66]:
print("Sum of absolute weights: ", np.sum(np.abs(weights)))

Sum of absolute weights:  342.01367223471476

In [67]:
def get_returns_given_w(weights, returns_df):
    aligned_weights = [weights[stock] for stock in returns_df.columns]
    mu = returns_df.pct_change().apply(lambda x: np.log(1+x)).mean()
    cov_matrix = returns_df.pct_change().apply(lambda x: np.log(1+x)).cov()
    portfolio_return = 252*(mu @ aligned_weights)
    portfolio_stddev = np.sqrt(np.array(aligned_weights).T @ cov_matrix @ np.array(aligned_weights)*252)
    return portfolio_return, portfolio_stddev

In [68]:
get_returns_given_w(weights, test_df)

(-15.574974578508165, 19.862914478896236)

In [71]:
dummy_weights = [1/len(test_df.columns)]*len(test_df.columns)
dummy_weights = pd.Series(dummy_weights, index = test_df.columns)

In [73]:
get_returns_given_w(dummy_weights, test_df)

(0.5218136173916709, 0.1318485180829717)